/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --red-color: #B85042;
    --green-color: #A7BEAE;
    --yellow-color: #E7E8D1;
    --separador-color: #CFCFCF;
    --contenedor-color: #FEFBFA;
    --line-color1: crimson;
    --line-color2: gold;
    --line-color3: firebrick;
    --line-color4: orange;
    --line-color5: darkblue;
    --black: #2d2929;
    --grey: #F4F4F4;
    --white: white;
    --transition-delay: 0.6s;
    --transition-delay-step: 0.6s;
}


li{
    list-style:none;
}

a{
    text-decoration: none;
    padding: 6px;
    margin: 4px;
    color: var(--red-color);
}

ul{
    padding-inline-start: 10px;
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-content{
    column-count:1;
    width: 90%;
    height: 18%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1%;
    padding-bottom: 0px;
    background: var(--white);
}
header h2 {
    font-size: 40px;
    text-align: center;
}

.menu{
    float:left;
    margin: 2rem 0.2rem 0;
    font-size: 0.9rem;
}

.logo-btn{
    opacity:0.9;
}

.logo-btn:hover{
    opacity:1.0;
}

nav{
    float: right;
}

.nav-btn{
    float: left;
    background: var(--green-color);
    opacity: 0.8;
    border-radius: 10px;
}

.nav-btn:hover{
    background:var(--green-color);
    opacity: 1.0;
    font-weight:bold;
}


#id_disp{
    width: 30%;
    /*margin-left:15rem;*/
    height: 2rem;
    display: block;
    background-color: var(--white);
    border-radius: 10px;
    border-color: var(--green-color);
    font-size: 1.25rem;
    font-weight: 100;
}

#Plant_Identifier{
    margin: auto;
}

#IdText{
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 1rem;
    color: var(--green-color)
}

.IdElement{
    float: left;
}


/* BODY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.separador{
    background: var(--separador-color);
    margin: auto;
    height: 0.3%;
    width: 95%;
}
/*
#date{
    color: var(--green-color);
    font-weight: normal;
    margin:0rem;
    margin-top: 1rem;
    margin-bottom:0rem;
    padding:0rem;
}
*/
#date{
    color: var(--green-color);
    margin:0rem;
    margin-top: 0.2rem;
    padding:0rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--green-color);
}

.container{
    float: left;
    height: 90%;
    width:100%;
    padding: 0%;
    position:relative;
}


#Chart-all{
    margin: auto;
    padding: 0px;
    margin-top: 2%;
    background: var(--white);
    border-radius: 35px;
}

.down{
    margin: 0px;
    color: var(--red-color);
    text-align: center;
}

.up{
    margin: 0px;
    color: var(--red-color);
    text-align: left;
    font-weight: bold;
}


/* Termometro

–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container{
    padding-left: 1.5rem;
    background: var(--grey);
    min-width:4rem;
}

div.col-2 {
    padding:0px;
    padding-left:0.5rem;
    padding-right:0.5rem;
    min-width: 16.666667%;
}
.chart-wrapper {
    display: grid;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-template-columns: auto auto auto;
    padding: 1rem;
    border-radius: 5px;
    width:60%;
    height: 82%;
    margin: 0px;
}

/* CHART-Y
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-y {
  display: grid;
  grid-row-gap: 4rem;
  width: 10%;
  color: var(--red-color);
}

.chart-wrapper .chart-y li {
    position:relative;
    z-index: 50;
    padding-left: 0.1%;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 1.5rem;
    border-color: black;
}

/*Lines of the thermometer*/

.lines{
    position: relative;
    display: grid;
    grid-row-gap: 4.8rem;
    size:inherit;
    width:100%;
    padding:0px;
}

.lines .dot{
    display: grid;
    position: relative;
    float:left;
    border-top: 2.2px dashed;
    border-color: var(--red-color);
    width: 3rem;
    z-index:50;
}


/* CHART-X
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-x {
    position: relative;
    width: 3.3rem;
    border-radius: 20px;
    border: 4px solid var(--yellow-color);
    background: white;
    overflow: hidden;
    z-index:0;
    padding:0px;

}

.chart-wrapper .chart-x .load-element {
  position: absolute;
  border-radius: 5px ;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  color: black;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-color: red;
  background: var(--black);
  z-index: 1;
  /*transition: height 0.5s ease-out;*/
}


/* CHART LABELS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-labels {
  opacity: 0;
  transition: opacity 0.6s 3.8s;
}

.chart-wrapper .chart-labels li + li {
  margin-top: 0.3rem;
}

.chart-wrapper .chart-labels li:nth-child(1){
  background: var(--line-color5);
}

.down h2{
    font-size: 1.2rem;
    margin-top: 0.7rem;
    font-weight: bold;
}

/**/

.observation-btn{
    opacity:1.0;
    margin-top: 2rem;
}

.observation-btn:hover{
    opacity:0.9;
}

.export-btn{
    opacity:1.0;
    margin-top: 2rem;
}

.export-btn:hover{
    opacity:0.9;
}

.small-setting:hover{
    opacity:0.7;
}



.swipe-left-btn{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
.white-space{
    height: 7%;
    width: 0px;
}
.white-space-swiper{
    height: 40%;
    width: 0px;
}

.button-container{
    margin-bottom:0rem;
    padding: 0rem;
}

#limits-setting{
    display: none;
}



/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer{
    position: fixed;
    width: 100%;
    height: 12%;
    color: var(--red-color);
    background: var(--white);
    margin: auto;
    font-size: 15px;
    bottom:0px;
    text-align: center;
    align-items: center;
    font-family: "Open Sans"
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.footer-image{
    margin: 0.2rem;
}

.footer-space{
    width: 20%;
}

footer h3{
    text-align: center;
    justify-content: center;
    float: left;
}

.input-limit{
    margin: 0.6rem;
    width: 20%;
}

.input-btn{
    margin-left: 0rem;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 8rem;
}

.input-btn:hover{
    border-color: var(--yellow-color);
    border-radius: 10px;
}



#limits-setting{
    width:90%;
    background-color: var(--green-color);
    border-radius: 10px;
    margin-top: 1.2rem;
    margin-left: 2rem;
    display: none;
}


#hiding-btn{
    margin-top: 20rem;
    margin-left: 8rem;
    margin-bottom: 10rem;
}

.button-container h4{
    font-size: 14px;
    float: left;
    margin: 0.4rem;
    margin-top: 1rem;

}

#settings{
    margin-top: 2rem;
}

.small-setting{
    margin-top: 1rem;
    margin-left: 5.2rem;
}

