/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --red-color: #B85042;
    --green-color: #A7BEAE;
    --yellow-color: #E7E8D1;
    --separador-color: #CFCFCF;
    --contenedor-color: #FEFBFA;
    --line-color1: crimson;
    --line-color2: gold;
    --line-color3: firebrick;
    --line-color4: orange;
    --line-color5: darkblue;
    --black: #2d2929;
    --grey: #F4F4F4;
    --white: white;
    --transition-delay: 0.6s;
    --transition-delay-step: 0.6s;
}


li{
    list-style:none;
}

a{
    text-decoration: none;
    padding: 6px;
    margin: 4px;
    color: var(--red-color);
}

ul{
    padding-inline-start: 10px;
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-content{
    column-count:1;
    width: 90%;
    height: 18%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1%;
    padding-bottom: 0px;
    background: var(--white);
}
header h2 {
    font-size: 40px;
    text-align: center;
}

.menu{
    float:left;
    margin: 2rem 0.2rem 0;
    font-size: 0.9rem;
}

.logo-btn{
    opacity:0.9;
}

.logo-btn:hover{
    opacity:1.0;
}

nav{
    float: right;
}

.nav-btn{
    float: left;
    background: var(--green-color);
    opacity: 0.8;
    border-radius: 10px;
}

.nav-btn:hover{
    background:var(--green-color);
    opacity: 1.0;
    font-weight:bold;
}


#id_disp{
    width: 30%;
    /*margin-left:15rem;*/
    height: 2rem;
    display: block;
    background-color: var(--white);
    border-radius: 10px;
    border-color: var(--green-color);
    font-size: 1.25rem;
    font-weight: 100;
}

#Plant_Identifier{
    margin: auto;
}

#IdText{
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 1rem;
    color: var(--green-color)
}

.IdElement{
    float: left;
}

/* BODY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.separador{
    background: var(--separador-color);
    margin: auto;
    height: 0.3%;
    width: 95%;
}

#date{
    margin:0rem;
    margin-top: 2rem;

}

#date h3{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--green-color);
}

/* Main Comment*/

.Main-Comment h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--red-color);
}

.write-input{
    width: 100%;
    height: 10rem;
    display: block;
    background-color: var(--white);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 100;
    margin: 0.2rem;
}

.write-input:focus {
    outline: none;
    border-color: var(--red-color);
}

/*NAME*/

.name-input{
    width: 30%;
    height: 2rem;
    display: block;
    background-color: var(--white);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 100;
    margin: 0.2rem;
}

.name-input:focus {
    outline: none;
    border-color: var(--red-color);
}

.obs-btn{
    background-color: var(--red-color);
    color: white;
    border-radius: 10px;
    width: 100%;
    opacity:60%;
}

.obs-btn:hover{
    opacity:80%;
}

.save-btn{
    background-color: white;
    color: var(--red-color);
    border-color:  var(--red-color);
    border-radius: 10px;
    width: 100%;
    opacity:60%;
}

.save-btn:hover{
    opacity:80%;
}


#all-page{
    margin-top: 1rem;
    margin-bottom: 14rem;
    width: 100%;
}


/**************************COMMENTS************************/
#comment_container{
    margin-top: 1rem;
    margin-bottom: 14rem;
    width: 100%;
}

.comment {
    width: 60%;
    margin: 1.1rem auto 1.1rem;
}

.observation{
    background-color: var(--grey);
    border-radius: 10px;
    color:white;
}

.observation ul{
    color: black;
}

#comment_container h2{
    color: var(--green-color);
    font-size: 1.5rem;
    font-weight: 300;
}

#comment_container h4{
    color: var(--red-color);
    font-size: 1.5rem;
    font-weight: 300;
    margin:0.5rem;
}

.observation div{
    color: black;
    font-size: 1.2rem;
    font-weight: 250;
    margin:0.5rem;
}


#comment_container button{
    float: right;
    background-color: var(--red-color);
    color: white;
    border-color:  var(--red-color);
    border-radius: 10px;
    opacity:60%;
    margin: 0.4rem 0.3rem 0;
}

#comment_container button:hover{
    opacity:80%;
}

/***********IMAGE PREVIEWING*************/
img{
    max-width:500px;
    max-height:300px;
    margin: auto;
}
input[type=file]{
    padding:10px;
    background:#2d2d2d;}

.obs-btn-img{
    background-color: var(--red-color);
    color: white;
    border-radius: 10px;
    width: 15%;
    opacity:60%;
}

.obs-btn-img:hover{
    opacity:80%;
}

.save-btn-img{
    background-color: white;
    color: var(--red-color);
    border-color:  var(--red-color);
    border-radius: 10px;
    width: 15%;
    opacity:60%;
}

.save-btn-img:hover{
    opacity:80%;
}
/**************************COMMENTS EDIT************************/






/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer{
    position: fixed;
    width: 100%;
    height: 12%;
    color: var(--red-color);
    background: var(--white);
    margin: auto;
    margin-auto: 1rem;
    font-size: 15px;
    bottom:0px;
    text-align: center;
    align-items: center;
    font-family: "Open Sans"
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.footer-image{
    margin: 10px;
}

.footer-space{
    width: 20%;
}

footer h3{
    text-align: center;
    justify-content: center;
    float: left;
}

/*******************MODAL*************************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.mymodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.mymodal-content-image{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    height: 60%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.close_img {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_img:hover,
.close_img:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}