{% extends 'base.html' %}

{% load static %}

{% load imagekit %}

{% load i18n %}

{% block content %}
<div id="measures_container" class="container">
    <div class="cointainer">

        <div class="d-flex flex-row ms-4 mt-3">
            <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/teaspils/plant/{{plant_id}}/history">Plant Timeline</a></li>
                <li class="breadcrumb-item active" aria-current="page" ><a href="#">Single measure</a></li>
                </ol>
            </nav>
        </div>
    </div>

    <div id="Plant_Identifier" class="d-none">
        <div class="IdElement" id="IdText">IdPlant</div>
        <input class="IdElement" type="text" id="id_disp" value="{{plant_id}}">
    </div>
    <input type="hidden" id="hidden_data" name="variable" value="{{ measure }}">



    <link rel="icon" type="image/png" href="{% static 'img/Teaspils_final_logo_no_text.png' %}" />
    <script src="{% static 'js/Term_fun.js' %}"></script>


    <div class="row m-2">
        <div id="settings" class="col-3">
            <div class="card p-2">
                <div class="row">
                    <div id='limits-setting' class="col">
                        <div class="row">
                            <h3 id='date'></h3>
                        </div>
                        <div class="row">
                            <h4>{% blocktrans %}Plant Settings{% endblocktrans %}</h4>
                        </div>
                        <div class="row">
                            <div class="button-container">
                                <h4 class="mr-3">{% blocktrans %}Lower Limit{% endblocktrans %}</h4>
                                <h4 class="mr-3 ml-3">{% blocktrans %}Upper Limit{% endblocktrans %}</h4>
                                <h4 class="mr-3 ml-3">{% blocktrans %}Update graphic{% endblocktrans %}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-container">
                                <input class="input-limit" id="myInputLowT" type="number" size="1" value={{lowT}} />
                                <input class="input-limit" id="myInputHighT" type="number" size="1" value={{highT}} />
                                <button class="btn btn-secondary input-btn" id="inputButtonT">{% blocktrans %}Temp{% endblocktrans %}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-container">
                                <input class="input-limit" id="myInputLowSoilT" type="number" size="1" value={{lowST}} />
                                <input class="input-limit" id="myInputHighSoilT" type="number" size="1" value={{highST}} />
                                <button class="btn btn-secondary input-btn" id="inputButtonSoilT">{% blocktrans %}Soil Temp{% endblocktrans %}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-container">
                                <input class="input-limit" id="myInputLowHUM" type="number" size="1" value={{lowH}} />
                                <input class="input-limit" id="myInputHighHUM" type="number" size="1" value={{highH}} />
                                <button class="btn btn-secondary input-btn" id="inputButtonHUM">{% blocktrans %}Hum{% endblocktrans %}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-container">
                                <input class="input-limit" id="myInputLowSoilH" type="number" size="1" value={{lowSH}} />
                                <input class="input-limit" id="myInputHighSoilH" type="number" size="1" value={{highSH}} />
                                <button class="btn btn-secondary input-btn" id="inputButtonSoilH">{% blocktrans %}Soil Hum{% endblocktrans %}</button>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="button-container">
                                <input class="input-limit" id="myInputLowNoise" type="number" size="1" value={{lowN}} />
                                <input class="input-limit" id="myInputHighNoise" type="number" size="1" value={{highN}} />
                                <button class="btn btn-secondary input-btn" id="inputButtonNoise">{% blocktrans %}Noise{% endblocktrans %}</button>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="button-container">
                                <input class="input-limit" id="myInputLowCO2" type="number" size="1" value={{lowC}} />
                                <input class="input-limit" id="myInputHighCO2" type="number" size="1" value={{highC}} />
                                <button class="btn btn-secondary input-btn" id="inputButtonCO2">{% blocktrans %}Co2{% endblocktrans %}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button-container">
                                <input class="input-limit" id="myInputLowIL" type="number" size="1" value={{lowI}} />
                                <input class="input-limit" id="myInputHighIL" type="number" size="1" value={{highI}} />
                                <button class="btn btn-secondary input-btn" id="inputButtonIL">{% blocktrans %}Light{% endblocktrans %}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mt-2 button-container">
                                <button id="saveSettingsButton" class="btn btn-info ml-2">{% blocktrans %}Save Settings{% endblocktrans %}</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Starting thermometers -->

        <div class="col-9" id="Chart-all" style="margin: 0;">
            <div class="row" style="margin-bottom: 1em ;">
                <h5 style="color: gray; text-align: center;">{% blocktrans %}Measures taken at:{% endblocktrans %}
                    <span style="color:red">{{timestamp}}</span>{% blocktrans %} for the plant:{% endblocktrans %}
                    <span style="color:red">{{alias}}</span>
                </h5>
            </div>
            <!-- style="background-color: #ffde9f;"-->
            <div class="row">
                <div class="col-1">
                    <div class="white-space-swiper"></div>
                </div>
                <div class="col-lg-1">
                    <!-- <script src="{% static 'js/Term_fun.js' %}"></script> -->
                    <div class="container">
                        <div class="chart-wrapper">
                            <ul class="chart-y">
                                <li></li>
                                <li id="label_temp_h">{{highT}}</li>
                                <li id="label_temp_m"> </li>
                                <li id="label_temp_l">{{lowT}}</li>
                                <li></li>
                            </ul>
                            <ul class="chart-x">
                                <ul class="lines">
                                    <li></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li></li>
                                </ul>
                                <li id="T-load" class="load-element"></li>
                            </ul>
                        </div>
                        <div class="down">
                            <h2 id="temp-input">{% blocktrans %}Temp. [ºC]{% endblocktrans %}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <!-- <script src="{% static 'js/Term_fun.js' %}"></script> -->
                    <div class="container">
                        <div class="chart-wrapper">
                            <ul class="chart-y">
                                <li></li>
                                <li id="label_temp_h">{{highST}}</li>
                                <li id="label_temp_m"> </li>
                                <li id="label_temp_l">{{lowST}}</li>
                                <li></li>
                            </ul>
                            <ul class="chart-x">
                                <ul class="lines">
                                    <li></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li></li>
                                </ul>
                                <li id="SoilT-load" class="load-element"></li>
                            </ul>
                        </div>
                        <div class="down">
                            <h2 id="soilT-input">{% blocktrans %}Soil Temp. [ºC]{% endblocktrans %}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="container">
                        <div class="chart-wrapper">
                            <ul class="chart-y">
                                <li></li>
                                <li id="label_hum_h">{{highH}}</li>
                                <li id="label_hum_m"> </li>
                                <li id="label_hum_l">{{lowH}}</li>
                                <li></li>
                            </ul>
                            <ul class="chart-x">
                                <ul class="lines">
                                    <li></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li></li>
                                </ul>
                                <li id="H-load" class="load-element"></li>
                            </ul>
                        </div>
                        <div class="down">
                            <h2>{% blocktrans %}Humidity [%]{% endblocktrans %}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="container">
                        <!--<script src="js/Functions.js"></script>-->
                        <div class="chart-wrapper">
                            <ul class="chart-y">
                                <li></li>
                                <li id="label_soilH_h">{{highSH}}</li>
                                <li id="label_soilH_m"> </li>
                                <li id="label_soilH_l">{{lowSH}}</li>
                                <li></li>
                            </ul>
                            <ul class="chart-x">
                                <ul class="lines">
                                    <li></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li></li>
                                </ul>
                                <li id="SoilH-load" class="load-element"></li>
                            </ul>
                        </div>
                        <div class="down">
                            <h2 id="soilH-input">{% blocktrans %}Soil Hum [%]{% endblocktrans %}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="container">
                        <div class="chart-wrapper">
                            <ul class="chart-y">
                                <li></li>
                                <li id="label_co2_h">{{highC}}</li>
                                <li id="label_co2_m"> </li>
                                <li id="label_co2_l">{{lowC}}</li>
                                <li></li>
                            </ul>
                            <ul class="chart-x">
                                <ul class="lines">
                                    <li></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li></li>
                                </ul>
                                <li id="CO2-load" class="load-element"></li>
                            </ul>
                        </div>
                        <div class="down">
                            <h2>{% blocktrans %}Co2 [ppm]{% endblocktrans %}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="container">
                        <div class="chart-wrapper">
                            <ul class="chart-y">
                                <li></li>
                                <li id="label_light_h">{{highI}}</li>
                                <li id="label_light_m"> </li>
                                <li id="label_light_l">{{lowI}}</li>
                                <li></li>
                            </ul>
                            <ul class="chart-x">
                                <ul class="lines">
                                    <li></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li></li>
                                </ul>
                                <li id="L-load" class="load-element"></li>
                            </ul>
                        </div>
                        <div class="down">
                            <h2>{% blocktrans %}Light [lux]{% endblocktrans %}</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- <div class="col-2">
            <a class="observation-btn" href="{% url 'observations' plant_id=plant_id %}" title="Observations-btn">
                <img src="{% static 'img/Group 16.png' %}" width="94" height="94">
            </a>
            <div class="white-space"></div>
            <a class="export-btn" id='fileRequest' href="" title="export-btn">
                <img src="{% static 'img/Group 17.png' %}" width="94" height=50">
            </a>
        </div> -->
    </div>

    <button id="obsMainButton" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">OBSERVATIONS</button>

    <div class="offcanvas offcanvas-end {% if page_obj.number != 1 %}show{% endif %} " 
         data-bs-scroll="true" 
         data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" 
         aria-labelledby="offcanvasRightLabel"
         style="width:40%">
        <div class="offcanvas-header" style="justify-content: center; padding: 0.3rem 0;">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container" style="display:flex; flex-direction: column;">
                <div class="row mb-2">
                <div class="cointainer border rounded"
                     style="overflow-y: scroll; height: 100%; width: 100%">
                     <div class="card-header p-0">
                        <h5 style="margin: 5px 0;">{% blocktrans %}Measure observations{% endblocktrans %}</h5>
                    </div>
                    {%for obs in page_obj %}
                    <div class="row" style="justify-content: center; margin: 5px;">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <div class='row' style="display: flex; flex-direction: row;">
                                    <div class="col-2">
                                        <img src="{{  obs.image_thumbnail.url }}" alt="Thumbnail">
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-9">
                                        <h5 class="card-title" style="font-size: 1em;">{{obs.author}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 0.75em;">{{obs.timestamp}}</h6>
                                        <p class="card-text" style="font-size: 0.6em;">{{obs.text}}</p>
                                    </div>
                                    <!-- TODO: Add condition,  IF FILE IS ATTACHED -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="pagination" style="justify-content: space-around;">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">{% blocktrans %}first{% endblocktrans %}</a>
                                <a href="?page={{ page_obj.previous_page_number }}">{% blocktrans %}previous{% endblocktrans %}</a>
                            {% endif %}
                    
                            <span class="current">
                                {% blocktrans %}Page{% endblocktrans %} {{ page_obj.number }} {% blocktrans %}of{% endblocktrans %} {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">{% blocktrans %}next{% endblocktrans %}</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">{% blocktrans %}last{% endblocktrans %}</a>
                            {% endif %}
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:auto">
                <div class="card">
                    <div class="card-header p-0">
                        <h5 style="margin: 5px 0;">{% blocktrans %}Make an observation!{% endblocktrans %}</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" name="measure" value="{{measure}}">
                            <input type="hidden" name="plant_id" value="{{plant_id}}">
                            <div class="row">
                                <h5>{% blocktrans %}Name or group name:{% endblocktrans %}</h5>
                            </div>
                            <div class="row">
                                <input type="text" id="author-name" name="name" class="form-control input-sm" style="padding: 0.2em;">
                            </div>
                            <div class="row" style="display: flex; align-content: space-between; margin-top: 10px 0px;">
                                <h5>{% blocktrans %}Observations:{% endblocktrans %}</h5>
                            </div>
                            <div class="row">
                                <textarea id="comment-maker" name="observation" class="form-control" rows="2"></textarea>
                            </div>
                            <div class="row" style="margin: 30px;">
                                <!-- IMAGE UPLOAD -->
                                <div class="col-10">
                                    <input type="file" class="form-control-file" name="attachedfile" id="image-upload"/>
                                </div>
                                <div class="col-2">
                                    <input type="submit" id="save-button" class="btn btn-outline-primary" value="{% blocktrans %}Save{% endblocktrans %}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% block javascript %}
<script>
    let saveButton = document.getElementById("saveSettingsButton");

    saveButton.addEventListener("click", () => {

        let params = {
            'lowT'      : document.getElementById('myInputLowT').value,
            'highT'     : document.getElementById('myInputHighT').value,
            'lowST'     : document.getElementById('myInputLowSoilT').value,
            'highST'    : document.getElementById('myInputHighSoilT').value,
            'lowSH'     : document.getElementById('myInputLowSoilH').value,
            'highSH'    : document.getElementById('myInputHighSoilH').value,
            // 'lowN'      : document.getElementById('myInputLowNoise').value,
            // 'highN'     : document.getElementById('myInputHighNoise').value,
            'lowC'      : document.getElementById('myInputLowCO2').value,
            'highC'     : document.getElementById('myInputHighCO2').value,
            'lowH'      : document.getElementById('myInputLowHUM').value,
            'highH'     : document.getElementById('myInputHighHUM').value,
            'lowI'      : document.getElementById('myInputLowIL').value,
            'highI'     : document.getElementById('myInputHighIL').value,
            'plant_id'  : {{ plant_id }}
        };

    // Sending and receiving data in JSON format using POST method
    //

    $.ajax({
        url: '../../../ajax/savesettings',
        data: params,
        dataType: 'json',
        success: function (data) {
            console.log(data.success)
            if (data.success == true) {
                alert('Settings saved succesfully');
            } else {
                alert('An error ocurred saving the data, please check all fields are filled');
            }
        }
    });

    console.log(params);
    });
</script>
{% endblock %}


{% endblock %}