{% load static %}
<html>

<head>
    <title>Measurements</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/Teaspils_final_logo_no_text.png' %}" />
    <link rel="stylesheet" href="{% static 'css/MainStyle.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/plotly-2.4.2.min.js' %}"></script>


</head>

<header style="height: fit-content;">
    <div class="header-content d-flex flex-row justify-content-between" style="background-color: #ffde9f;">
        <div class="menu_options col-2">
            <a class='logo-btn' href=" www.teaspils.eu/" title="Tide-Logo">
                <img src="{% static 'img/Teaspils_final_logo_M.png' %}" width="58" height="75">
            </a>
        </div>
        <div class="col-2 mr-4">
            <a class="btn btn-danger btn-lg btn-block" href="/teaspils/">Logout</a>
        </div>
        <!-- <div id="Plant_Identifier">
        <div class="IdElement" id="IdText">Plant id: </div>
        <input class="IdElement" type="text" id="id_disp">
    </div> -->
    </div>

</header>

<body style="background-color: #ffde9f	;">
    <main role="main" class="container" style="min-height: 0%; max-height: 80%;">
        {% block content %}
        {% endblock %}
    </main>

    </div>
</body>
<footer>
    <div class="footer-content">
        <div class="col-3">
            <div class="footer-image">
                <a href="" title="Tide-Logo">
                    <img src="{% static 'img/upf_tide_logo.png' %}" width="350" height="55">
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="footer-image">
                <a href="" title="Tide-Logo">
                    <img src="{% static 'img/erasmus_en.png' %}" width="250" height="55">
                </a>
            </div>
        </div>

        <div class="col-4">
            <div class="footer-space"></div>
            <h3>TEASPILS Project</h3>
            <h4 href="www.teaspils.eu">www.teaspils.eu</h4>
        </div>
    </div>
</footer>

</html>