{% load static %}

{% load i18n %}

<html>

<head>
    <title>Measurements</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/Teaspils_final_logo_no_text.png' %}" />
    <link rel="stylesheet" href="{% static 'css/MainStyle.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/plotly-2.4.2.min.js' %}"></script>


</head>
<div class="maincontainer">
    <header style="height: fit-content;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
    border-radius: 4px;">
        <div class="d-flex flex-row justify-content-between">
            <div class="menu_options col-2 m-1">
                <a class='logo-btn' href=" www.teaspils.eu/" title="Tide-Logo">
                    <img src="{% static 'img/Teaspils_final_logo_M.png' %}" width="150" height="75">
                </a>
            </div>
            <div class="col-2 m-3 mr-4">
                <div class="row" style="align-items: flex-end;">
                    <div class="col-6">
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <select id="lang-selector" class="form-select" name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% for lang in LANGUAGES %}
                                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected" 
                                {% endif %}>
                                    {{ lang.1 }} ({{ lang.0 }})
                                </option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-danger btn-lg btn-block" href="/teaspils/">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <div class="col-4">
                <div class="footer-image">
                    <a href="" title="Tide-Logo">
                        <img src="{% static 'img/upf_tide_logo.png' %}" width="350" height="55">
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="footer-image">
                    <a href="" title="Tide-Logo">
                        <img src="{% static 'img/erasmus_en.png' %}" width="250" height="55">
                    </a>
                </div>
            </div>

            <div class="col-4">
                <div class="footer-space">
                    <h3><a href="http://www.teaspils.eu" style="color:red">TEASPILS Project</a></h3>
                </div>
            </div>
        </div>
    </footer>
</div>

<script>
    $("#lang-selector").on('change', function () {
        val = document.getElementById("lang-selector").value;
        console.log('changed! to: ' + val);

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        $.ajax({
            url: "{% url 'set_language' %}",
            method: "post",
            headers: { 'X-CSRFToken': csrftoken },
            mode: 'same-origin',
            data: {
                language: val,
                next: "{{request.path}}"
            },
            success: function (data) {
                top.location.href = "{{request.path}}";
            },
        })
    });
</script>

</html>