{% load static %}
<html>

<head>
    <title>Measurements</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/Teaspils_final_logo_no_text.png' %}" />
    <link rel="stylesheet" href="{% static 'css/MainStyle.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/plotly-2.4.2.min.js' %}"></script>


</head>
<div class="maincontainer">
    <header style="height: fit-content;">
        <div class="d-flex flex-row justify-content-between">
            <div class="menu_options col-2">
                <a class='logo-btn' href=" www.teaspils.eu/" title="Tide-Logo">
                    <img src="{% static 'img/Teaspils_final_logo_M.png' %}" width="58" height="75">
                </a>
            </div>
            <div class="col-2 mr-4">
                <a class="btn btn-danger btn-lg btn-block" href="/teaspils/">Logout</a>
            </div>
        </div>
    </header>

    <main role="main" style="overflow:auto;">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <div class="col-4">
                <div class="footer-image">
                    <a href="" title="Tide-Logo">
                        <img src="{% static 'img/upf_tide_logo.png' %}" width="350" height="55">
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="footer-image">
                    <a href="" title="Tide-Logo">
                        <img src="{% static 'img/erasmus_en.png' %}" width="250" height="55">
                    </a>
                </div>
            </div>

            <div class="col-4">
                <div class="footer-space">
                    <h3><a href="http://www.teaspils.eu" style="color:red">TEASPILS Project</a></h3>
                </div>
            </div>
        </div>
    </footer>
</div>

</html>