{% extends 'base.html' %}

{% load static %}

{% load imagefit %}

{% load i18n %}

{% block content %}

{% if messages %}
{% for message in messages %}
<!-- <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div> -->
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissable fade show mt-3"
    style="position: fixed; top:0; width:95%" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}


<div id="main_container" class="cointainer">
    <div class="d-flex flex-row ms-4 mt-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page" ><a href="#">Timeline</a></li>
            </ol>
          </nav>
    </div>

    <div class="row m-4" style="height: 90%;">
        <div class="col-2">
            <ul class="nav nav-pills flex-column" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-target="#all_area" role="tab" data-bs-toggle="pill" aria-selected="true"> {% blocktrans %}Data visualization{% endblocktrans %}</a>
                </li>
                <hr > 
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-target="#compare_area" role="tab" data-bs-toggle="pill" aria-selected="true"
                        style="color: orange;">{% blocktrans %}Compare measures{% endblocktrans %}</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="tab-content clearfix">
                <div id="all_area" class="tab-pane fade active show" role="tabpanel" style="width:100%;height:100%;">
                    <div class="row">
                        <div class="col-2"> </div>
                        <div class="col-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="load_switch" checked>
                            <label class="form-check-label" for="load_switch">Activate realtime data</label>
                          </div>
                        </div>
                        <div class="col-6">
                            <div class="custom-file">
                                <input type="file" class="form-control" id="dataset-upload" disabled>
                            </div>
                        </div>
                    </div>

                    <div id="plt_all" style="width:100%;height:90%;"></div>
                </div>

                <div id="compare_area" class="tab-pane fade" role="tabpanel" style="width:100%;height:100%;">
                    <!-- Example single danger button -->
                    <div style="display: flex; justify-content: space-around;">
                        <div>
                            <li class="nav-item dropdown">
                                <div class="sms-button" id="first-dropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <a class="nav-link dropdown-toggle" href="#">&nbsp;{% blocktrans %}First measure{% endblocktrans %}&nbsp;&nbsp;</a>
                                </div>
                                <div id="first-options" class="dropdown-menu" aria-labelledby="first-dropdown">
                                    <a class="dropdown-item" href="#">{% blocktrans %}Temperature{% endblocktrans %}</a>
                                    <a class="dropdown-item" href="#">{% blocktrans %}Soil Humidity{% endblocktrans %}</a>
                                    <a class="dropdown-item" href="#">{% blocktrans %}Co2{% endblocktrans %}</a>
                                    <a class="dropdown-item" href="#">{% blocktrans %}Light{% endblocktrans %}</a>
                                    <a class="dropdown-item" href="#">{% blocktrans %}Humidity{% endblocktrans %}</a>
                                </div>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item dropdown">
                                <div class="sms-button" id="second-dropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <a class="nav-link dropdown-toggle" href="#">&nbsp;{% blocktrans %}Second measure{% endblocktrans %}&nbsp;&nbsp;</a>
                                </div>
                                <div id="second-options" class="dropdown-menu" aria-labelledby="second-dropdown">
                                    <a class="dropdown-item" href="#">{% blocktrans %}Temperature{% endblocktrans %}</a>
                                    <a class="dropdown-item" href="#">{% blocktrans %}Soil Humidity{% endblocktrans %}</a>
                                    <a class="dropdown-item" href="#">{% blocktrans %}Co2{% endblocktrans %}</a>
                                    <a class="dropdown-item" href="#">{% blocktrans %}Light{% endblocktrans %}</a>
                                    <a class="dropdown-item" href="#">{% blocktrans %}Humidity{% endblocktrans %}</a>
                                </div>
                            </li>
                        </div>
                    </div>
                    <div id="plt_compare" style="width:100%;height:95%;"></div>
                </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <button id="obsMainButton" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">OBSERVATIONS</button>

    <div class="offcanvas offcanvas-end {% if page_obj.number != 1 %}show{% endif %} " 
         data-bs-scroll="true" 
         data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" 
         aria-labelledby="offcanvasRightLabel"
         style="width:40%">
        <div class="offcanvas-header" style="justify-content: center;">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container" style="display:flex; flex-direction: column;">
                <div class="row mb-2">
                <div class="cointainer border rounded"
                     style="overflow-y: scroll; height: 100%; width: 100%">
                     <div class="card-header p-0">
                        <h5>{% blocktrans %}Plant observations{% endblocktrans %}</h5>
                    </div>
                    {%for obs in page_obj %}
                    <div class="row" style="justify-content: center; margin: 5px;">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <div class='row' style="display: flex; flex-direction: row;">
                                    <div class="col-2">
                                        <img src="{{  obs.image.url|resize:'100x100' }}" alt="Thumbnail">
                                    </div>
                                    <div class="col-10">
                                        <h5 class="card-title">{{obs.author}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{obs.timestamp}}</h6>
                                        <p class="card-text">{{obs.text}}</p>
                                    </div>
                                    <!-- TODO: Add condition,  IF FILE IS ATTACHED -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="pagination" style="justify-content: space-around;">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">{% blocktrans %}first{% endblocktrans %}</a>
                                <a href="?page={{ page_obj.previous_page_number }}">{% blocktrans %}previous{% endblocktrans %}</a>
                            {% endif %}
                    
                            <span class="current">
                                {% blocktrans %}Page{% endblocktrans %} {{ page_obj.number }} {% blocktrans %}of{% endblocktrans %} {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">{% blocktrans %}next{% endblocktrans %}</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">{% blocktrans %}last{% endblocktrans %}</a>
                            {% endif %}
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:auto">
                <div class="card">
                    <div class="card-header p-0">
                        <h5>{% blocktrans %}Make an observation!{% endblocktrans %}</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" name="plant_id" value="{{plant_id}}">
                            <div class="row">
                                <h2>{% blocktrans %}Name or group name:{% endblocktrans %}</h2>
                            </div>
                            <div class="row">
                                <input type="text" id="author-name" name="name" class="form-control">
                            </div>
                            <div class="row" style="display: flex; align-content: space-between; margin-top: 10px 0px;">
                                <h2>{% blocktrans %}Observations:{% endblocktrans %}</h2>
                            </div>
                            <div class="row">
                                <textarea id="comment-maker" name="observation" class="form-control" rows="4"></textarea>
                            </div>
                            <div class="row" style="margin: 30px;">
                                <!-- IMAGE UPLOAD -->
                                <div class="col-10">
                                    <input type="file" class="form-control-file" name="attachedfile" id="image-upload" />
                                </div>
                                <div class="col-2">
                                    <input type="submit" id="save-button" class="btn btn-outline-primary" value="{% blocktrans %}Save{% endblocktrans %}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<script>
    let history = {{ json_history| safe}};
    let pid = {{ plant_id }};
</script>

<script src="{% static 'js/main.js' %}"></script>
<!-- <script src="{% static 'js/realtime_loader.js' %}"></script> -->
<script src="{% static 'js/dataset_loader.js' %}"></script>



{% endblock %}