{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="separador"></div>

<div class="row"></div>
<div class="row  justify-content-md-center">
    <div class="col-6">
        <div class="row">
            <form action="/teaspils/" method="post">
                <div class="input-group">
                    <label class="input-group-text" for="course_id_input">Course id: </label>
                    <input class="form-control" id="course_id_input" type="number" name="course_id" maxlength="100" required>
                </div>
                <div class="input-group">
                    <label class="input-group-text" for="secret_word_input">Secret word: </label>
                    <input class="form-control" id="secret_word_input" type="text" name="secret_word" maxlength="100" required>
                </div>
                <input class="btn btn-outline-secondary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}