{% extends 'base.html' %}

{% load i18n %}

{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="container" style="height: 100%; display: flex; justify-content: center; align-items: center;">

    <div class="col-6">
        <form action="/teaspils/" method="post">
            <div class="input-group input-group-lg pt-3">
                <h1>{% blocktrans %}Plant alias: {% endblocktrans %}<span id='alias-label' class="badge bg-info">{% blocktrans %}No alias{% endblocktrans %}</span> </h1>
            </div>
            <div class="input-group input-group-lg pb-3">
                <!-- <label class="input-group-text" for="course_id_input">Course id: </label> -->
                <div class="input-group-prepend">
                    <span style="height: 100%;" class="input-group-text" id="course_id_label">{% blocktrans %}Plant id{% endblocktrans %}</span>
                </div>
                <input class="form-control" id="course_id_input" type="number" name="course_id" maxlength="3"
                    aria-label="Default" aria-describedby="course_id_label" required>
            </div>
            <div class="input-group input-group-lg pb-3">
                <!-- <label class="input-group-text" for="secret_word_input">Secret word: </label> -->
                <div class="input-group-prepend">
                    <span class="input-group-text" style="height: 100%;" id="secret_label">{% blocktrans %}Secret Word{% endblocktrans %}</span>
                </div>
                <input class="form-control" id="secret_word_input" type="password" name="secret_word" maxlength="12"
                    aria-label="Default" aria-describedby="secret_word_input" required>
                <div class="input-group-append">
                    <div class="input-group-text" style="height: 100%;">
                        <input type="checkbox" id="reveal-box" onclick="reveal()">
                    </div>
                </div>
            </div>
            <input class="btn btn-outline-secondary" style="float: right;" type="submit"
                value="{% blocktrans %} Submit {% endblocktrans %}">
        </form>
    </div>
</div>

<script type="text/javascript">
    function reveal() {
        if (document.getElementById('reveal-box').checked) { document.getElementById("secret_word_input").type = 'text'; }
        else
            document.getElementById("secret_word_input").type = 'password';
    }

    document.getElementById('course_id_input').addEventListener('focusout', (event) => {

        $.get('./', { 'value': document.getElementById('course_id_input').value }, function (json_response) {
            alias = JSON.parse(json_response)['alias']
            document.getElementById("alias-label").innerHTML = alias;

            if( alias != 'No alias' ){
                document.getElementById("alias-label").className = 'badge bg-success';                
            }else{
                document.getElementById("alias-label").className = 'badge bg-info';    
            }
        });
    });
</script>

{% endblock %}