{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="cointainer">
    <!-- <div class="row">
        <nav aria-label="breadcrumb" style="margin-left: 5%;">
            <ol class="breadcrumb" style="background-color: white;">
                <li class="breadcrumb-item"><a href="/teaspils/plant/{{plant_id}}/history">Timeline</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data measurement</li>
            </ol>
        </nav>

    </div> -->
    <div class="d-flex flex-row justify-content-center m-3">
        <div class="col-6">
            <button type="button" class="btn btn-primary btn-lg btn-block"
                onclick="window.location.href='/teaspils/plant/{{plant_id}}/history'"">Timeline</button>
        </div>
        <div class=" col-6">
                <button type=" button" class="btn btn-success btn-lg btn-block"
                    onclick="window.location.href='/teaspils/plant/{{plant_id}}/observations'">Observations</button>
        </div>
    </div>
</div>

<div id="Plant_Identifier" class="d-none">
    <div class="IdElement" id="IdText">IdPlant</div>
    <input class="IdElement" type="text" id="id_disp" value="{{plant_id}}">
</div>
<input type="hidden" id="hidden_data" name="variable" value="{{ measure }}">



<link rel="icon" type="image/png" href="{% static 'img/Teaspils_final_logo_no_text.png' %}" />
<script src="{% static 'js/Term_fun.js' %}"></script>


<!-- <div class="row">
    <div class="col-1"></div>

    <div class="col-3"></div>
</div> -->
<div class="row p-3 ml-3">
    <h5 style="color: gray;">Measures taken at: 
        <span style="color:red">{{timestamp}}</span> for the plant: 
        <span style="color:red">{{alias}}</span>
    </h5> 
</div>
<div class="row">
    <div id="settings" class="col-3">
        <div id='limits-setting' class="col">
            <div class="row">
                <h3 id='date'></h3>
            </div>
            <div class="row">
                <h4>Plant Settings</h4>
            </div>
            <div class="row">
                <div class="button-container">
                    <h4>Lower Limit</h4>
                    <h4>Upper Limit</h4>
                </div>
            </div>
            <div class="row">
                <div class="button-container">
                    <input class="input-limit" id="myInputLowT" type="number" size="1" value={{lowT}} />
                    <input class="input-limit" id="myInputHighT" type="number" size="1" value={{highT}} />
                    <button class="input-btn" id="inputButtonT">Temp</button>
                </div>
            </div>
            <div class="row">
                <div class="button-container">
                    <input class="input-limit" id="myInputLowNoise" type="number" size="1" value={{lowN}}  />
                    <input class="input-limit" id="myInputHighNoise" type="number" size="1" value={{highN}}  />
                    <button class="input-btn" id="inputButtonNoise">TDS</button>
                </div>
            </div>
            <div class="row">
                <div class="button-container">
                    <input class="input-limit" id="myInputLowCO2" type="number" size="1" value={{lowC}}  />
                    <input class="input-limit" id="myInputHighCO2" type="number" size="1" value={{highC}}  />
                    <button class="input-btn" id="inputButtonCO2">PH</button>
                </div>
            </div>
            <div class="row">
                <div class="button-container">
                    <input class="input-limit" id="myInputLowHUM" type="number" size="1" value={{lowH}}  />
                    <input class="input-limit" id="myInputHighHUM" type="number" size="1" value={{highH}}  />
                    <button class="input-btn" id="inputButtonHUM">NTU</button>
                </div>
            </div>
            <div class="row">
                <div class="button-container">
                    <input class="input-limit" id="myInputLowIL" type="number" size="1" value={{lowI}}  />
                    <input class="input-limit" id="myInputHighIL" type="number" size="1" value={{highI}}  />
                    <button class="input-btn" id="inputButtonIL">Elect</button>
                </div>
            </div>
            <div class="row">
                <div class="button-container">
                    <button id="saveSettingsButton" class="btn ml-2">Save Settings</button>
                </div>
            </div>

        </div>

    </div>
    <div class="col-9" id="Chart-all">
        <!-- style="background-color: #ffde9f;"-->
        <div class="row">
            <div class="col-1">
                <div class="white-space-swiper"></div>
            </div>
            <div class="col-2">
                <!-- <script src="{% static 'js/Term_fun.js' %}"></script> -->
                <div class="container">
                    <div class="chart-wrapper">
                        <ul class="chart-y">
                            <li></li>
                            <li id="label_temp_h">{{highT}}</li>
                            <li id="label_temp_m"> </li>
                            <li id="label_temp_l">{{lowT}}</li>
                            <li></li>
                        </ul>
                        <ul class="chart-x">
                            <ul class="lines">
                                <li></li>
                                <li class="dot"></li>
                                <li class="dot"></li>
                                <li class="dot"></li>
                                <li></li>
                            </ul>
                            <li id="T-load" class="load-element"></li>
                        </ul>
                    </div>
                    <div class="down">
                        <h2 id="temp-input">Temp. [ºC]</h2>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="container">
                    <!--<script src="js/Functions.js"></script>-->
                    <div class="chart-wrapper">
                        <ul class="chart-y">
                            <li></li>
                            <li id="label_noise_h">{{lowN}}</li>
                            <li id="label_noise_m"> </li>
                            <li id="label_noise_l">{{highN}}</li>
                            <li></li>
                        </ul>
                        <ul class="chart-x">
                            <ul class="lines">
                                <li></li>
                                <li class="dot"></li>
                                <li class="dot"></li>
                                <li class="dot"></li>
                                <li></li>
                            </ul>
                            <li id="N-load" class="load-element"></li>
                        </ul>
                    </div>
                    <div class="down">
                        <h2>TDS [mg/l]</h2>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="container">
                    <div class="chart-wrapper">
                        <ul class="chart-y">
                            <li></li>
                            <li id="label_co2_h">{{highC}}</li>
                            <li id="label_co2_m"> </li>
                            <li id="label_co2_l">{{lowC}}</li>
                            <li></li>
                        </ul>
                        <ul class="chart-x">
                            <ul class="lines">
                                <li></li>
                                <li class="dot"></li>
                                <li class="dot"></li>
                                <li class="dot"></li>
                                <li></li>
                            </ul>
                            <li id="CO2-load" class="load-element"></li>
                        </ul>
                    </div>
                    <div class="down">
                        <h2>PH [ph]</h2>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="container">
                    <div class="chart-wrapper">
                        <ul class="chart-y">
                            <li></li>
                            <li id="label_hum_h">{{highH}}</li>
                            <li id="label_hum_m"> </li>
                            <li id="label_hum_l">{{lowH}}</li>
                            <li></li>
                        </ul>
                        <ul class="chart-x">
                            <ul class="lines">
                                <li></li>
                                <li class="dot"></li>
                                <li class="dot"></li>
                                <li class="dot"></li>
                                <li></li>
                            </ul>
                            <li id="H-load" class="load-element"></li>
                        </ul>
                    </div>
                    <div class="down">
                        <h2>Turbidity [NTU]</h2>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="container">
                    <div class="chart-wrapper">
                        <ul class="chart-y">
                            <li></li>
                            <li id="label_light_h">{{highI}}</li>
                            <li id="label_light_m"> </li>
                            <li id="label_light_l">{{lowI}}</li>
                            <li></li>
                        </ul>
                        <ul class="chart-x">
                            <ul class="lines">
                                <li></li>
                                <li class="dot"></li>
                                <li class="dot"></li>
                                <li class="dot"></li>
                                <li></li>
                            </ul>
                            <li id="L-load" class="load-element"></li>
                        </ul>
                    </div>
                    <div class="down">
                        <h2>Elecond. [mS/cm]</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- <div class="col-2">
        <a class="observation-btn" href="{% url 'observations' plant_id=plant_id %}" title="Observations-btn">
            <img src="{% static 'img/Group 16.png' %}" width="94" height="94">
        </a>
        <div class="white-space"></div>
        <a class="export-btn" id='fileRequest' href="" title="export-btn">
            <img src="{% static 'img/Group 17.png' %}" width="94" height=50">
        </a>
    </div> -->
</div>

{% block javascript %}
<script>
    let saveButton = document.getElementById("saveSettingsButton");

    saveButton.addEventListener("click", () => {
        
        let params = {
            'lowT' : document.getElementById('myInputLowT').value,
            'highT' : document.getElementById('myInputHighT').value,
            'lowN' : document.getElementById('myInputLowNoise').value,
            'highN' : document.getElementById('myInputHighNoise').value,
            'lowC' : document.getElementById('myInputLowCO2').value,
            'highC' : document.getElementById('myInputHighCO2').value,
            'lowH' : document.getElementById('myInputLowHUM').value,
            'highH' : document.getElementById('myInputHighHUM').value,
            'lowI' : document.getElementById('myInputLowIL').value,
            'highI' : document.getElementById('myInputHighIL').value,
            'plant_id': {{plant_id}}
        };

        // Sending and receiving data in JSON format using POST method
        //

        $.ajax({
            url : '../../../ajax/savesettings',
            data : params,
            dataType : 'json',
            success: function(data){
                console.log(data.success)
                if(data.success == true){
                    alert('Settings saved succesfully');
                }else{
                    alert('An error ocurred saving the data');
                }
            }
        })

        console.log(params)
    })
</script>
{% endblock %}


{% endblock %}