{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% load imagekit %}


{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="cointainer">
    <!-- <div class="row">
        <nav aria-label="breadcrumb" style="margin-left: 5%;">
            <ol class="breadcrumb" style="background-color: white;">
                <li class="breadcrumb-item"><a href="/teaspils/plant/{{plant_id}}/history">Timeline</a></li>
                <li class="breadcrumb-item active" aria-current="page">Observations</li>
            </ol>
        </nav>
    </div> -->
    <div class="d-flex flex-row justify-content-center mt-3">
        <div class="col-6">
            <button type="button" class="btn btn-primary btn-lg btn-block"
                onclick="window.location.href='/teaspils/plant/{{plant_id}}/history'"">{% blocktrans %}Timeline{% endblocktrans %}</button>
    </div>
        <div class=" col-6">
                <button type="button" class="btn btn-outline-success btn-lg btn-block" disabled>{% blocktrans %}Observations{% endblocktrans %}</button>
        </div>
    </div>
</div>

<!-- DATE -->
<div class="row">
    <div class="col-1"></div>
    <div id="date" class="col-10">
    </div>
    <div class="col-3"></div>
</div>

<div class="white-space"></div>
<!-- MAIN COMMENT Inputs -->
<div class="container">
    <!-- <div class="col-2">
        <button class="btn btn-outline-danger">Export</button>
    </div> -->
    <div class="row">
        <div class="p-4">
            <h5 style="color: gray;">{% blocktrans %}New observation for the plant:{% endblocktrans %}
                <span style="color:red">{{alias}}</span>{% blocktrans %} for the measures taken at:{% endblocktrans %}
                <span style="color:red">{{timestamp}}</span>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="plant_id" value="{{plant_id}}">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h2>{% blocktrans %}Name or group name:{% endblocktrans %}</h2>
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <!--style="background-color: papayawhip;"-->
                        <input type="text" id="author-name" name="name" class="form-control">
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="display: flex; align-content: space-between; margin-top: 10px 0px;">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h2>{% blocktrans %}Observations:{% endblocktrans %}</h2>
                    </div>

                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10"">
                    <textarea id="comment-maker" name="observation" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row" style="margin: 30px;">
                    <!-- IMAGE UPLOAD -->
                    <div class="col-10">
                        <input type="file" class="form-control-file" name="attachedfile" id="obs-image-upload" />
                    </div>
                    <div class="col-2">
                        <input type="submit" id="save-button" class="btn btn-outline-primary" value="{% blocktrans %}Save{% endblocktrans %}">
                    </div>
                    <div class="col-7"></div>
                </div>
            </form>
        </div>
        <div id="comments-section" class="col-7">
            <div class="cointainer border rounded"
                style="margin: 5px; overflow-y: scroll; height: 70%; width: 100%;">
                {%for obs in observations %}
                <div class="row" style="justify-content: center; margin: 5px;">
                    <div class="card" style="width: 95%;">
                        <div class="card-body">
                            <div class='row' style="display: flex; flex-direction: row;">
                                <div class="col-2">
                                    <img src="{{  obs.image_thumbnail.url }}" alt="Thumbnail">
                                </div>
                                <div class="col-10">
                                    <h5 class="card-title">{{obs.author}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{obs.timestamp}}</h6>
                                    <p class="card-text">{{obs.text}}</p>
                                </div>
                                <!-- TODO: Add condition,  IF FILE IS ATTACHED -->

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- COMMENTS DISPLAY -->
<div id='comment_container'></div>


<script>
    $(function () {
        $('#save-button').attr('disabled', true);
        console.log('disabled button');
        $('#comment-maker').keypress(function () {
            console.log("enabled");
            if ($('#author-name').val() != '' && $('#comment-maker').val() != '') {
                $('#save-button').attr('disabled', false);
            } else {
                $('#save-button').attr('disabled', true);
            }
        });
    });

    $(document).ready(function () {
        function fade_out() {
            $(".alert").fadeOut().empty();
        }
        setTimeout(fade_out, 5000);
        console.log("fade out");
    });

</script>
{% endblock %}